## Merging Instacart data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Import data
path = r'C:\Users\Hiroshi\Documents\12-2023 Instacart Basket Analysis'
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', '01 Original Data', 'orders_products_prior.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path, '02 Data', '02 Prepared Data', 'orders_checked.csv'), index_col = False)

In [9]:
# Check the output
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order
0,0,0,2539329,1,1,2,8,NaN,1
1,1,1,2398795,1,2,3,7,15.0,0
2,2,2,473747,1,3,3,12,21.0,0
3,3,3,2254736,1,4,4,7,29.0,0
4,4,4,431534,1,5,4,15,28.0,0

In [7]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [12]:
df_ords.shape

(3421083, 9)

In [11]:
df_ords_prior.shape

(32434489, 4)

## Task 4.6

### Qn1

In [14]:
# Merge the data
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [15]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,1,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,1,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,1,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,1,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,1,26405,5,0,both

In [16]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

### Qn2

In [22]:
# Export in pickle format
df_merged_large.to_pickle(os.path.join(path, '02 Data','02 Prepared Data', 'orders_products_combined.pkl'))